@font-face {
    font-family: 'GreatVibes';
    src: url("../fonts/GreatVibes-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Antonsc';
    src: url('../fonts/AntonSC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --creme-bg-color: hsl(0deg 0% 90.98%);
    --default-black: hsl(0deg 0% 0.39%);
    --naslim-gold: hsl(41.2deg 65.35% 75.1% / 100%);
    --naslim-purple: hsl(298, 13%, 45%);
    --naslim-brown: hsl(340deg 8.67% 33.92%);
    --naslim-light-brown: hsl(340deg 8.67% 33.92% / 79%);
    --naslim-white: white;
    --wave-button: #eff2f5;
    --wave-button-shadow: #a5a7a9;

    --triangle-speed: 5;
    --naslim-sm: 640px;
    --naslim-md: 768px;
    --naslim-lg: 1024px;
    --naslim-xl: 1280px;
    --naslim-2xl: 1536px;
}

.swiper-wrapper {
    container: swiper-cont / inline-size;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86vh;
    color: #fff;
    padding: 0 4rem;
    transition: 0.5s all;
    overflow: hidden;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button style */
.swiper-pagination-bullet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.swiper-pagination-bullet span {
    color: #fff;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* button circle */
.progress {
    transform: rotate(-90deg);
    border-radius: 1rem;
    background-color: var(--naslim-gold);

}

.circle-origin {
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 125.664px;
    stroke-dashoffset: 125.664px;
}

.swiper-pagination-bullet-active .circle-origin {
    animation: progress 5s;
}

@keyframes progress {
    0% {
        stroke-dashoffset: 125.664px;
    }

    90% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -125.664px;
    }
}

.background-white {
    background: hsl(0deg 0% 81.96% / 0%);
}

/*Creme Styling*/

.btn-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    & > img {
        z-index: 1;
    }

    & > button {
        position: absolute;
        z-index: 0;
        animation: ripple 5s infinite;
        border-radius: 100%;
        border: none;
        background-color: var(--wave-button);
        box-shadow: inset 10px 10px 20px var(--wave-button-shadow),
        inset -10px -10px 20px var(--naslim-white);
        transition: 0.33s ease-in all;
        opacity: 0;

        &:nth-child(1) {
            animation-delay: 500ms;
        }

        &:nth-child(2) {
            animation-delay: 1000ms;
        }

        &:nth-child(3) {
            animation-delay: 1500ms;
        }

        &:nth-child(4) {
            animation-delay: 2000ms;
        }

        &:nth-child(5) {
            animation-delay: 2500ms;
        }
    }
}

#creme-container {
    background-color: var(--creme-bg-color);
}

#gain-container {
    background-color: var(--creme-bg-color);
}

#tissane-container {
    background: radial-gradient(var(--naslim-gold) 8%, transparent 10%), var(--naslim-purple);
    background-position: 0 0, 25px 25px;
    background-size:15px 15px;
}

#boost-container {
    background: radial-gradient(var(--naslim-white) 8%, transparent 10%), var(--naslim-gold);
    background-position: 0 0, 25px 25px;
    background-size:15px 15px;
}

.creme-img {
    width: 100%;
    max-width: 24rem;
    height: auto;
    object-fit: cover;
}

/*Tisane img*/
#tisane-img {
    width: auto;
    height: 100%;
    max-height: 20rem;
    object-fit: cover;
}

#tisane-ctn {
    margin-top: 2rem;
}

/*Gain img*/
#gaine-img {
    width: auto;
    height: 100%;
    max-height: 15rem;
    object-fit: cover;
}

#gaine-ctn {
    margin-top: 2rem;
}

#boost-img {
    width: auto;
    height: 100%;
    max-height: 15rem;
    object-fit: cover;
}

.product-boost {
    grid-column: 2;
    grid-row: 1 /span 2;
}

.top-left-ball {
    grid-column: 1;
    grid-row: 1;
}

.bottom-right-ball {
    grid-column: 3;
    grid-row: 3;
}

#boost-ctn {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

.mg-top-five {
    margin-top: 3rem;
    & > h1 {
        font-size: 3rem !important;
    }
}

.text-btn {
    text-align: center;

    & > h1 {
        font-size: 5rem;
        transition: 1.8s;
        &:hover {
            transition: 0.5s;
            margin-top: -10px;
            margin-bottom: 10px;
            text-shadow: 1px 1px 1px var(--wave-button-shadow),
                        1px 2px 1px var(--wave-button-shadow),
                        1px 3px 1px var(--default-black),
                        1px 4px 1px var(--default-black),
                        1px 5px 1px var(--default-black),
                        1px 6px 1px var(--default-black),
                        1px 7px 1px var(--default-black),
                        1px 8px 1px var(--default-black),
                        1px 9px 1px var(--wave-button-shadow),
                        1px 10px 1px var(--wave-button-shadow),
                        1px 18px 6px rgba(16,16,16,0.4),
                        1px 22px 10px rgba(16,16,16,0.2),
                        1px 25px 35px rgba(16,16,16,0.2),
                        1px 30px 60px rgba(16,16,16,0.4);
        }
        & > #slim-text {
            color: var(--default-black);
            font-family: 'GreatVibes', cursive;
        }
        & > #affin-text {
            color: var(--naslim-white);
            font-family: 'Antonsc', serif;
            text-transform: uppercase;
        }
        & > #sculpter-text {
            color: var(--naslim-gold);
            font-family: 'Antonsc', serif;
        }
        & > #silhoutte-text {
            color: var(--default-black);
            font-family: 'GreatVibes', cursive;
        }
        & > #xtrem-text {
            color: var(--naslim-gold);
            font-family: 'Antonsc', serif;
        }
        & > #allie-text {
            color: var(--naslim-white);
            font-family: 'Antonsc', serif;
        }
        & > #minc-text {
            color: var(--naslim-white);
            font-family: 'GreatVibes', cursive;
        }
        & > #daily-text {
            color: var(--naslim-gold);
            font-family: 'BebasNeue', serif;
        }
        & > #boost-text {
            color: var(--naslim-brown);
            font-family: 'GreatVibes', cursive;
        }
        & > #ventre-text {
            color: var(--naslim-white);
            font-family: 'Antonsc', serif;
        }
        & > #balance-text {
            color: var(--naslim-brown);
            font-family: 'Roboto', serif;
            font-weight: 300;
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    }

    & > ul#title-effects > li > p {
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        font-family: 'Roboto', serif;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--default-black)
    }

    & > button {
        background-color: var(--default-black);
        color: var(--naslim-white);
        text-transform: uppercase;
        font-size: 1rem;
        font-family: Roboto, sans-serif;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 1rem;
        padding: 1rem 4rem;
        margin-top: 1rem;
        transition: ease-out 1.8s;

        &:hover {
            background-color: var(--naslim-gold);
            transition: ease-in-out .5s;
            box-shadow: 1rem 1rem 2rem grey;
        }
        &:active {
            border: none;
            outline: none;
            transform: scale(0.98);
            box-shadow: 1rem 1rem 2rem grey;
        }

    }
}

.fade-item {
    transition: opacity 0.5s ease-in-out;
    display: none;
    opacity: 0;
}

.fade-item.active {
    display: block;
    animation: fadeIn 1.2s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: -200px;
        transform: rotateX(-90deg);
    }
    25% {
        top: -74px;
        transform: rotateX(-70deg);
        opacity: 0.3;
    }
    50% {
        top: 74px;
        transform: rotateX(20deg);
        opacity: 0.5;
    }
    100% {
        top: 74px;
        transform: rotateX(30deg);
        opacity: 1;
    }
}

#element-icon {
    margin-top: 4rem;
}

@container swiper-cont (min-width: 640px) {
    .swiper-slide {
        flex-direction: row;
    }

    .text-btn {
        width: 60%;
    }

    .element-image {
        width: 40%;
    }

    .btn-container {
        & > button {
            animation: ripple 5s infinite;
        }
    }

    .creme-img {
        max-width: 28rem;
    }

    .mg-top-five {
        margin-top: 0;
    }
}

@container swiper-cont (min-width: 1024px) {
    .btn-container {
        & > button {
            animation: ripple-done 5s infinite;
        }
    }

    .text-btn {
        & > h1 {
            & > #slim-text {
                font-size: 9rem;
            }
            & > #xtrem-text {
                font-size: 7rem;
            }
            & > #affin-text {
                font-size: 6rem;
            }
            & > #sculpter-text {
                font-size: 6rem;
            }
            & > #silhoutte-text {
                font-size: 6rem;
            }
            & > #allie-text {
                font-size: 3rem;
            }
            & > #minc-text {
                font-size: 9rem;
            }
            & > #daily-text {
                font-size: 6rem;
            }
            & > #boost-text {
                font-size: 6rem;
            }
            & > #ventre-text {
                font-size: 9rem;
            }
            & > #balance-text {
                font-size: 2.5rem;
            }
        }

        & > ul#title-effects > li > p {
            font-size: 1.9rem;
            line-height: 3rem;
        }

        & > button {
            font-size: 1.5rem;
            padding: 1.5rem 4.5rem;
        }
    }

    /*Tisane img*/
    #tisane-img {
        max-height: 32rem;
    }

    #tisane-ctn {
        margin-top: 0;
    }

    #gaine-img {
        max-height: 24rem;
    }

    #gaine-ctn {
        margin-top: 0;
    }

    #boost-img {
        max-height: 24rem;
    }

    #boost-ctn {
        margin-top: 0;
    }
}

@container swiper-cont (min-width: 1280px) {
    .text-btn {
        & > h1 {
            & > #slim-text {
                font-size: 11rem;
            }
            & > #xtrem-text {
                font-size: 9rem;
            }
            & > #affin-text {
                font-size: 8rem;
            }
            & > #sculpter-text {
                font-size: 8rem;
            }
            & > #silhoutte-text {
                font-size: 8rem;
            }
            & > #allie-text {
                font-size: 3rem;
            }
            & > #minc-text {
                font-size: 12rem;
            }
            & > #daily-text {
                font-size: 8rem;
            }
        }

        & > ul#title-effects > li > p {
            font-size: 2.8rem;
            line-height: 3rem;
        }

        & > button {
            font-size: 2rem;
            padding: 2rem 5rem;
        }
    }
}

@keyframes ripple-done {
    0% {
        width: 400px;
        height: 400px;
        opacity: 1;
    }
    100% {
        width: 800px;
        height: 700px;
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        width: 200px;
        height: 200px;
        opacity: 1;
    }
    100% {
        width: 400px;
        height: 300px;
        opacity: 0;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);

    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-1px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(1px);
    }
}

/*Bouncing images*/
.bounce-img {
    animation: bounce 2s infinite ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
}

/* Svg Animation */
.naslim-shape {
    animation: 4s cubic-bezier(.18,1.17,.03,1.46) backwards;
    transform-origin: center;
    transform-box: fill-box;
}
.naslim-svg {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    will-change: transform;
}

@keyframes spin {
    0% {
        transform: translateY(10%) rotate(0deg);
    }
    50% {
        transform: translateY(5%) rotate(180deg);
    }
    100% {
        transform: translateY(10%) rotate(360deg);
    }
}

.big-square {
    animation: spin 8.2s ease-in-out infinite;
}

.littleSquare {
    animation: spin 5s linear infinite;
}

.triangle {
    animation: spin 5s linear infinite;
}


/*forth slider ball styling*/
.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: linear-gradient(#001fd1 0%, #001bb3 10%, #00106c 50%, #000a40 100%);
    border-radius: 50%;
    z-index: -2;
    animation: bounce 3s linear infinite;
}

.circle::before {
    content: "";
    position: relative;
    width: 40px;
    height: 60%;
    background: linear-gradient(#677be9 10%, #00127b 50%, #000c4e 100%);
    border-radius: 50%;
    filter: blur(20px);
}

.circle::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 40px;
    background: rgba(0, 0, 0, 0.415);
    border-radius: 50%;
    bottom: -50%;
    filter: blur(12px);
}


/*Triangle*/
.triangle-ctn {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    perspective: 300px;
    perspective-origin: 50% 40%;
}

.side {
    position: absolute;
    left: 140px;
    top: 150px;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid #ccc;
    transform-origin: 50% 0;
    animation: naslim-spin 5s infinite linear;
}

.back {
    animation-delay: -2.5s;
}

.right {
    animation-delay: -1.25s;
}

.left {
    animation-delay: -3.75s;
}

@keyframes naslim-spin {
    0% {
        transform: rotateY(0deg) rotateX(30deg);
        border-bottom-color: var(--naslim-brown);
    }
    25% {
        transform: rotateY(90deg) rotateX(30deg);
        border-bottom-color: var(--naslim-light-brown);
        opacity: 1;
    }
    25.1% {
        opacity: 0;
    }
    50% {
        transform: rotateY(180deg) rotateX(30deg);
        border-bottom-color: var(--naslim-brown);
    }
    74.9% {
        opacity: 0;
    }
    75% {
        transform: rotateY(270deg) rotateX(30deg);
        border-bottom-color: var(--naslim-light-brown);
        opacity: 1;
    }
    100% {
        transform: rotateY(360deg) rotateX(30deg);
        border-bottom-color: var(--naslim-brown);
    }
}


.shadow {
    position: absolute;
    top: 300px;
    left: 175px;
    width: 50px;
    height: 50px;
    background-color: #807d7d;
    box-shadow: 0 0 40px 40px #807d7d;
    animation: shadow 5s infinite linear;
}

@keyframes shadow {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(90deg) rotateZ(-360deg);
    }
}
